*,
::before,
::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 5em; }

a,
a:visited,
a:active {
  color: #1a1a1a; }

a:hover {
  color: #fff; }

.brand-flag {
  text-align: center;
  background: #1a1a1a;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.12), 0 1px 2px rgba(26, 26, 26, 0.24);
  color: #e6e6e6;
  display: inline-block;
  padding: 5em 4em;
  position: absolute;
  right: 5em;
  top: 0; }
  .brand-flag h1 {
    margin: 0;
    padding: 0; }
  .brand-flag a {
    color: #e6e6e6; }

.social-media {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 1em 1em 0;
  width: 115px; }
  .social-media li {
    padding: .25em; }

main h2:first-of-type {
  margin-top: 0; }

p {
  line-height: 1.8em; }

h1 {
  font-size: 3em; }

h2,
h4,
div > p {
  margin-bottom: 0; }

h2 + p,
h4 + p {
  margin-top: .5em; }

div > h4 {
  margin-top: 0; }

.box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  .box-row .box {
    margin: 0 2% 2% 0;
    width: 49%; }
    .box-row .box:nth-child(even) {
      margin-right: 0; }
    .box-row .box img {
      width: 100%; }
    .box-row .box p {
      width: 100%; }
  .box-row .box-sm {
    margin: 3% 0;
    width: 30%; }
    .box-row .box-sm h4 {
      text-align: center; }
  .box-row .button {
    background: #1a1a1a;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.12), 0 1px 2px rgba(26, 26, 26, 0.24);
    color: #e6e6e6;
    display: inline-block;
    font-size: 75%;
    padding: 1em; }

@-moz-document url-prefix() {
  .box-row .box {
    margin-bottom: 1.5em; } }

.box-row .material-box {
  background: #1a1a1a;
  color: #e6e6e6;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.12), 0 1px 2px rgba(26, 26, 26, 0.24); }

.box-row .material-box p {
  padding: 0 5% 5% 5%; }

.box-row .material-box h4 {
  padding: 5% 5% 0 5%; }

.box-row .shadow-box {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.box-row .shadow-box p {
  padding: 0.5em 5% 5% 5%;
  margin-top: 0; }

.box-row .shadow-box h4 {
  padding: 5% 5% 0.5em 5%; }

@media (max-width: 1024px) {
  .box-row {
    display: block; }
  .box-row .box {
    width: 100%; } }

.lnr-laptop-phone,
.lnr-screen,
.lnr-magnifier,
.lnr-bold,
.lnr-magic-wand,
.lnr-printer,
.lnr-bullhorn,
.lnr-thumbs-up,
.lnr-highlight,
.lnr-question-circle {
  color: #1a1a1a;
  display: block;
  font-size: 80px;
  margin: 0 auto;
  padding-bottom: 2%;
  width: 80px; }

.hot,
.lnr-screen,
.lnr-bold,
.lnr-printer,
.lnr-thumbs-up,
.lnr-question-circle {
  color: #e91e63; }
